{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html>

{% block content %}

<head>

    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" type="text/css" />

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>

<div class="md-form mt-0">
  <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- Title <h3>Bootstrap Sidebar</h3> -->
        </div>

        <ul class="list-unstyled components">
            <!-- Heading <p>Dummy Heading</p> -->
	    <li>
                <a href="#sortSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sort</a>
                <ul class="collapse list-unstyled" id="sortSubmenu">
                    <li>
                        <a href="#">Date Posted</a>
                    </li>
                    <li>
                        <a href="#">Price: Lowest First</a>
                    </li>
                    <li>
                        <a href="#">Price: Highest First</a>
                    </li>
                    <li>
                        <a href="#">Distance</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#categorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
                <ul class="collapse list-unstyled" id="categorySubmenu">
                    <li>
                        <a href="#">Textbooks</a>
                    </li>
                    <li>
                        <a href="#">Furniture</a>
                    </li>
                    <li>
                        <a href="#">Housing</a>
                    </li>
		    <li>
                        <a href="#">Services</a>
                    </li>
		    <li>
                        <a href="#">Gigs</a>
                    </li>
		    <li>
                        <a href="#">Lost & Found</a>
                    </li>
		    <li>
                        <a href="#">Misc. Items</a>
                    </li>
                </ul>
	     </li>
    </nav>
    {% block pagecontent %}
    {% endblock %}
</div>

{% endblock %}

</body>
</html>
