<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base</title>
</head>
<body>
    <p>test</p>
    <h1>Hello World!</h1>

    {% block content %}
	      {% if user.is_authenticated %}
            <p class="display-4">Hello, {{ user.username }}</p>
	      {% else %}
            <a class="lead" href="{% url 'login' %}">Log in</a>
	      {% endif %}
    {% endblock content %}
</body>
</html>
