
{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block pagecontent %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 10px">

        	{% if message %}
			<h4> {{ message }} </h4>
			{% endif %}
			
            {% if user and not user.is_anonymous %}
            <div style="margin-top: 10px; text-align: center">
                <h1> Create Listing </h1>
            </div>

            <form action= "/create_listing/" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
            
                {{ form|crispy }}

			    <br>

                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Submit</button>
                <script type="text/javascript">
                    document.getElementById('id_acct').value = '{{user.username}}'; //Ties Listing to account that posted it
                </script>
            </form>
            {% else %}
            <h2 style="text-align: center; margin-top: 10px"> You must be logged in to create a listing </h2>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}
