<!--
*  REFERENCES
*  Title: Building a custom Google Sign-In button
*  Author: n/a
*  Date: Accessed September 28, 2019
*  Code version: n/a
*  URL: https://developers.google.com/identity/sign-in/web/build-button
*  Software License:  Creative Commons Attribution 4.0 License
-->



{% block content %}
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% if user and not user.is_anonymous %}
<a href="/">Logout</a>
<link href="{% static 'css/signin.css'}" rel='stylesheet'>
{% else %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form|crispy }}
    <button type="submit">Login</button>
  </form>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  {% endif %}
{% endblock %}