{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <link rel="stylesheet "href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
        <script src="{% static 'js/itemlist.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/itemlist.css' %}" type="text/css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <title>Base</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                
                {% if user.is_authenticated %}
                <a class="nav-link" style="color: white; margin-left: 10px;" >{{ user.username }}</a>
                <a class="nav-link" style="color: white; margin-right: 10px; width: 30%" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="nav-link" style="color: white; margin-right: 10px" class="lead" href="{% url 'login' %}">Login</a>
                {% endif %}
                </a>
                <div class="md-form mt-0" style = "width: 100%; margin-left: 20px">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="p/{{user.username}}/"> Profile </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create_listing"> Sell</a>
                        </li>
                    </ul>
                </div>

        </nav>
{% block wrapper %}
{% endblock %}

{% block pagecontent %}
{% endblock %}

</body>
</html>
