{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block pagecontent %}
{% block content %}
    <div class="content-section" style = "padding: 2rem">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }} </p>
        
	<!-- <button id="send_message" onclick="location.href='mailto:{{user.email}}';">Send Message</button> -->
	</div>
      </div>
      <br>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <form>
		<input type="button" onclick="history.go(0)" value="Update">
	    </form>
        </div>
        {% if listings %}
        <table class="table table-hover">
          <tr><td>Image</td><td>Item</td><td>Price</td></tr>
          {% for item in listings %}
          <tr onclick="location.href='/{{item.acct}}/{{item.listing_id}}'">
            <td>
              <img class = "listImage"
              style="width: 200px; height: 200px;"
              src="{{item.images.url}}"/></td>
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
                    
          </tr>
          {% endfor %}
        </table>

        {% else %}
        <p>LISTINGS ARE NOT HERE</p>
        {% endif %}
    </form>
    </div>

<style type="text/css">

input{
 background-color: #fff;
 padding: .5em;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 6px;
 color: #7bc;
 font-family: 'Arial';
 font-size: 16px;
 text-decoration: none;
 border: 1px solid #7bc;
}

input:hover{
    border: 1px solid #7bc;
    color: #fff;
    background: #7bc;
    box-shadow: 0px 0px 1px #777;
}

a#profile {
    color: #fff;
}

a#home {
    color:#73b0ff;
}

</style>

{% endblock %}
{% endblock %}

